server {
  server_name .algorithmic.trade;
  return 301 https://$host$request_uri;
}

server {
  server_name algorithmic.trade;

  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  ssl_certificate /etc/letsencrypt/live/algorithmic.trade/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/algorithmic.trade/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

  location / {
    proxy_pass "http://127.0.0.1:8080";
  }
}

# sudo certbot --server https://acme-v02.api.letsencrypt.org/directory -d *.algorithmic.trade --manual --preferred-challenges dns-01 certonly
